*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #fff;
    font-family: "Questrial", sans-serif;
}

body {
    background-color: #1a1a1a;
}
/** Navbar **/
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    padding: 0px 5%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px rgba(160, 160, 160, 0.2);
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1em);
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
    overflow: hidden;
}

.name{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #fff;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        right: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        position: absolute;
        overflow: hidden;
        right: 0;
        padding-top: 100px;
        background: rgba(255, 255, 255, 0.2);
        height: 100vh;
        max-width: 300px;
        transform: translate(150%);
        display: flex;
        flex-direction: column;
        margin-left: -45px;
        padding-left: 40px;
        padding-right: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .name{
        position: absolute;
        top: 10px;
        left: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .name{
        display: none;
    }
}

/** /Navbar **/

@keyframes ChangeColor {
    0% {background-position: 0% 0%;}
    50% {background-position: 50% 50%;}
    100% {background-position: 100% 100%;}
}

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(136deg, 
                #91221E,
                #030202,
                #F2A65A,
                #772F1A, 
                #FD5430) 0% 0% / 1000% 1000%;
    animation: ChangeColor 70s ease infinite;
    clip-path: ellipse(100% 90% at 44% 10%);
    text-align: center;
}

#home > * {
    margin: 15px auto;
}

#home h1 {
    font-size: 4.5em;
}

#home p {
    font-size: 1.3em;
}


.social {
    display: flex;
    justify-content: center;
}

.social a {
    margin: auto 5px;
}

.social img {
    opacity: 0.5;
}

#home .about_me_btn {
    margin-top: 45px;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 15px;
    background-color: transparent;
}

#home .about_me_btn {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

#home .about_me_btn:hover {
    color: #FD5430;
    border-color: #FD5430;
    background-color: rgba(255, 255, 255, 0.5);
}

#about_me {
    scroll-padding-top: 100vh;
    padding: 5em 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about_me img {
    max-width: 300px;
    max-height: 300px;
    object-position: center;
    object-fit: contain;
    border-radius: 50%;
}

#about_me p {
    width: 40%;
    font-size: 1.4em;
    line-height: 1.6em;
}

#about_me a {
    text-align: center;
    text-decoration: none;
    margin-top: 16px;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #fff;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#about_me a,
#about_me svg,
#about_me path {
    transition: all 0.3s ease-in-out;
}

#about_me a:hover {
    color: #FD5430;
    border-color: #FD5430;
    background-color: #c7c7c7;
}

#about_me a:hover svg {
    fill: #FD5430;
}

#about_me a:hover path:first-child {
    stroke: #FD5430;
}

#about_me a svg,
#about_me a span {
    display: block;
    color: inherit;
}

@media (max-width: 768px){
    #about_me {
        flex-direction: column;
    }

    #about_me img {
        width: 50vw;
        height: 50vw;

    }
    
    #about_me p {
        width: 80%;
        margin: 45px auto;
        font-size: 1.5em;
    }
}

h2 {
    font-size: 32px;
}

hr {
    color: #FD5430;
}

#projects, #contact, #tech-skills {
    margin-top: 5em;
    padding: 2em 5%;
}

/*** Project Section */
.project-cont {
    display: flex;
    width: 100%;
    min-height: 360px;
    height: 100%;
    flex-direction: row;
    margin: 2em 0px;
    padding: 30px;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: rgba(253,84,48,0.15);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(253,84,48,0.075);
}

.project-cont:hover {
    /* box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22); */
    box-shadow: rgba(255, 140, 140, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.project-cont > img {
    max-width: 50%;
    max-height: 360px;
    height: 100%;
    border-radius: 7px;
}

.project-cont .description {
    margin-left: 2em;
    font-size: 1em;
    margin-bottom: 15px;
}

.project-cont .description a {
    display: block;
    font-size: 1.8em;
    margin-bottom: 6px;
}

.project-cont .description p {
    font-size: 1.2em;
    line-height: 1.4em;
}

.project-cont .stack {
    margin-top: 16px;
}

.project-cont .stack .icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #FD5430;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 15px;
}

.project-cont .stack img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.project-cont a.learn-more {
    margin-top: 15px;
    font-size: 1em;
    color: #FD5430;
}


@media only screen and (max-width: 992px) {
    .project-cont {
        flex-wrap: wrap;
    }

    .project-cont > img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 20px;
    }

    .project-cont .description {
        margin-left: 0px;
        font-size: 1em;
        margin-bottom: 15px;
        padding: 20px;
        width: 100%;
    }
}

/*** Contact Section */
#contact h4 {
    color: #FD5430;
    margin-bottom: 10px;
}

#contact p {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 20px;
}


#contact > div {
    padding: 30px 0px;
}

#contact img {
    width: 15px;
    margin-right: 7px;
}

#contact a {
    text-decoration: none;
    text-align: center;
    line-height: 1;
}

#tech-skills .categories-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-start;
    justify-content: space-between;
}

#tech-skills .category {
    margin-top: 35px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 25%;
    min-width: 250px;
}

#tech-skills .category > span {
    width: 100%;
    font-size: 1.3em;
    color: #FD5430;
    padding: 8px 0px 8px 8px;
    border-radius: 8px;
    background: rgba(253,84,48,0.15);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(253,84,48,0.075);
}

#tech-skills .language {
    width: 50%;
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

#tech-skills .language img {
    object-fit: contain;
    width: 45px;
    height: 45px;
}

#tech-skills .language:not(:nth-child(odd)) {
    padding-left: 8px;
}

@media (max-width: 880px){
    #tech-skills .categories-container {
        justify-content: space-around;
    }

    #tech-skills .category {
        width: 40%;
    }
}

@media (max-width: 580px){
    #tech-skills .category {
        width: 100%;
    }
}

footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}